.App {
	text-align: center;
}

.Loading {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	/* transform: translate(-50%, -50%)  */
}

.page-header {
	z-index: 200;
}

.page-footer {
	z-index: 200;
}

/* .MuiDropzoneArea-root {
	color: gray;
} */
